# DEPENDENCIES
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# TESTING
/coverage

# CACHE
/.cache

# IDES
/.idea

# NEXTJS
/.next/
/out/

# PRODUCTION
/build

# MISC
.DS_Store
*.pem

# DEBUG
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# LOCAL ENV FILES
.env
.env*.local

# VERCEL
.vercel

# TYPESCRIPT
*.tsbuildinfo
next-env.d.ts

*storybook.log